body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

span{
    color: orange;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

div img{
    width: 100%;
}

a{
    text-decoration: none;
    padding: 10px 30px;
    color:white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p{
    color: dimgray;
    padding-right: 20px;
}

h2{
    font-size: 40px;
}

.dev-subtitle{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 30px gray;
    border-radius: 5px;
    height: 80%;
}

#full-stack{
    border-image: linear-gradient(180deg, lightsalmon, tomato) 1 / 1 / 0 stretch;
    border-left: 7px solid;

}

#baby-web{
    border-image: linear-gradient(180deg, blue, cyan) 1 / 1 / 0 stretch;
    border-left: 7px solid;
}

.experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer{
    color: dimgray;
    padding-bottom: 20px;
    text-align: center;
}